
.title {
  color: #D4F1F4;
  background:#05445E;
}

.outputdata {
  color: #05445E;
}

.btn {
  display: inline-block;
  background: #189AB4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
